<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990646993021-4t0p2jfhhsdoa7k5cnklg1qh4st7c54n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990646993021-4t0p2jfhhsdoa7k5cnklg1qh4st7c54n</string>
	<key>API_KEY</key>
	<string>AIzaSyBRFSmzYBrZ_O7ceDqjcWd2xw-BgjcycEw</string>
	<key>GCM_SENDER_ID</key>
	<string>990646993021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.matchFood</string>
	<key>PROJECT_ID</key>
	<string>match-food</string>
	<key>STORAGE_BUCKET</key>
	<string>match-food.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990646993021:ios:2bc4f20325068310c17114</string>
</dict>
</plist>